{% extends "shop/base.html" %}
{% load static %}

{% block extra_style_sheet %}
<link href="{% static 'css/cart_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<div class="container-fluid px-5 mt-5">
    <h1>Your shopping cart</h1>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-Warning">
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>unit Price</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td width="30%;">
                        <a gref="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width:100%">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="input-group">
                                <div class="ml-auto">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                </div>
                                <div class="input-group-append mr-auto">
                                    <input type="submit" value="update" class="btn btn-info">
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><input onclick="window.location.href='{% url "cart:cart_remove" product.id %}'" type="button" class="btn btn-danger" value="Remove"></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>Total</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="{% url 'shop:product_list' %}">Continue shopping</a>
        <a href="{% url 'orders:order_create' %}">Checkout</a>
    </p>
</div>
{% endblock %}

