{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table>
        <thead>
            <tr>
                <th>Image<th>
                <th>Product<th>
                <th>Quantity<th>
                <th>Remove<th>
                <th>unit Price<th>
                <th>Price<th>
            </tr>
        </thead>

        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td>
                        <a gref="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width:100%">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id %}">Remove</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>Total</td>
                <td colspane="4">Total</td>
                <td>{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a href="{% url 'shop:product_list' %}">Continue shopping</a>
        <a href="#">Checkout</a>
    </p>
{% endblock %}

