{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_style_sheet %}
<link href="{% static 'css/cart_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% trans "Cart" %} 
{% endblock %}

{% block content %}
<div class="container-fluid px-5 mt-5">
    <h1>{% trans "Your shopping cart" %}</h1>
    <table class="table table-responsive table-hover mt-3">
        <thead>
            <tr class="table-Warning">
                <th>{% trans "Image" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Remove" %}</th>
                <th>{% trans "Unit Price" %}</th>
                <th>{% trans "Price" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                <tr>
                    <td width="30%;">
                        <a gref="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width:100%">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="input-group">
                                <div class="ml-auto">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                </div>
                                <div class="input-group-append mr-auto">
                                    <input type="submit" value="{% trans 'Update' %}" class="btn btn-info btn-sm">
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </td>
                    <td><input onclick="window.location.href='{% url "cart:cart_remove" product.id %}'" type="button" class="btn btn-danger" value="{% trans 'Remove' %}"></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr class="demo-blue">
                <td>Total</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-info mr-2" onclick="window.location.href='{% url "shop:product_list" %}'">{% trans "Continue shopping" %}</button>
        <button class="btn btn-primary ml-2" onclick="window.location.href='{% url "orders:order_create" %}'">{% trans "Checkout" %}</button>
    </div>
</div>
{% endblock %}

