{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}

{% include "shop/carousel.html" %}

<!-- jumbotron - Techniques & Tools -->
<div class="jumbotron jumbotron-fluid mt-5 text-center demo-white">
    <div class="container">
        <h1 class="display-3">Techniques & Tools</h1>
        <div class="row mt-4">
            <div class="col-3">
                <img src="{% static 'images/Django.jpg' %}" width="80%" height="70%">
                <p class="lead mt-2">Backend - Django</p>
            </div>
            <div class="col-3">
                <img src="{% static 'images/Bootstrap.jpg' %}" width="80%" height="70%">
                <p class="lead mt-2">Frontend - Bootstrap</p>
            </div>
            <div class="col-3">
                <img src="{% static 'images/SQLite.jpg' %}" width="80%" height="70%">
                <p class="lead mt-2">Database - SQLite</p>
            </div>
            <div class="col-3">
                <img src="{% static 'images/Redis.png' %}" width="80%" height="70%">
                <p class="lead mt-2">Use redis to cache data</p>
            </div>
            <div class="col-3">
                <img src="{% static 'images/Celery.jpg' %}" width="80%" height="60%">
                <p class="lead mt-2">Send emails by Celery</p>
            </div>
            <div class="col-3">
                <img src="{% static 'images/facebook.png' %}" width="80%" height="60%">
                <p class="lead mt-2">Sign in with social media accounts</p>
            </div>
        </div>
    </div>
</div>
<!--/ jumbotron - Techniques & Tools -->

<!-- jumbotron - About -->
<div class="jumbotron jumbotron-fluid mt-5 text-center demo-sky-blue">
    <div class="container">
        <h1 class="display-1">About</h1>
        <p class="lead">This is a demo shopping site, you can sign in in with social media accounts,<br> add goods to your cart, and receive an email after checking out.</p>
    </div>
</div>
<!--/ jumbotron - About -->

<!-- categories -->
<div class="container-fluid px-5 mt-5">
    <div class="mt-5 text-center">
        <h1 class="display-4">Categories</h1>
    </div>

    <div class="row px-5 mt-5">
        {% for category in categories %}
            <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
                <div class="card">
                    <div class="demo-grey">
                        <a href="{{ category.get_absolute_url }}">
                            <img class="card-img-top" src="{% if category.image %}{{ category.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="{{ category.get_absolute_url }}" class="demo-link demo-text-black">
                                {{ category }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-info" onclick="window.location.href='/list/'">See More</button>
    </div>
</div>
<!-- categories -->

<!-- jumbotron - Contact Me -->
<div class="jumbotron jumbotron-fluid mt-5 text-center demo-blue padding-bottom-sm">
    <div class="container">
        <h1 class="display-5">Contact Me</h1>
        <div class="row mt-4">
            <div class="col-3" title="github">
                <a href="https://github.com/ZoeLiao">
                    <img src="{% static 'images/github.svg' %}" width="60%" height="60%">
                </s>
            </div>
            <div class="col-3" title="medium">
                <a href="https://medium.com/@zoejoyuliao">
                    <img src="{% static 'images/medium.svg' %}" width="60%" height="60%">
                </s>
            </div>
            <div class="col-3" title="blog">
                <a href="https://zoeliao.netlify.com/">
                    <img src="{% static 'images/netlify.png' %}" width="50%" height="60%">
                </a>
            </div>
            <div class="col-3" title="email">
                <a href="mailto:zoejoyuliao@gmail.com">
                    <img src="{% static 'images/mail.png' %}" width="50%" height="60%">
                </a>
            </div>
        </div>
    </div>
</div>
<!--/ jumbotron - Contact Me -->

<!-- Demo Map -->
<div class="container-fluid px-5">
    <div class="mt-5 text-center mt-4">
        <h1 class="display-5">Demo Map</h1>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d934404.1335401109!2d120.43461878228617!3d23.818024864465542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346eb26c6c1036a5%3A0x8d37b2ba3f8f326e!2z5r-B5rC05rqq!5e0!3m2!1szh-TW!2stw!4v1568036171629!5m2!1szh-TW!2stw" width="100%" height="600rem" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<!--/ Demo Map -->
{% endblock %}
