{% extends "shop/base.html" %}
{% load static %}

{% block content %}

{% include "shop/carousel.html" %}

<div class="container-fluid px-5 mt-5">
    <div class="mt-5 text-center">
        <h3>Categories</h3>
    </div>

    <div class="row mt-5">
        {% for category in categories %}
            <div class="col-6">
                <div class="card">
                    <a href="{{ category.get_absolute_url }}">
                        <img class="card-img-top" src="{% if category.image %}{{ category.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ category.get_absolute_url }}">
                                {{ category }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        <hr>
    </div>

    <div class="mt-5 text-center">
        <h3>Demo Map<h3>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d934404.1335401109!2d120.43461878228617!3d23.818024864465542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346eb26c6c1036a5%3A0x8d37b2ba3f8f326e!2z5r-B5rC05rqq!5e0!3m2!1szh-TW!2stw!4v1568036171629!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>

</div>
{% endblock %}

