@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
}

@media (min-width: 992px)
.navbar-expand-lg {
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-collapse {
    flex-basis: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.navbar-suspend {
    width: 100%;
    position: fixed !important;
    background-color: #f8fafb;
    z-index: 2147483647; 
    border: none;
    top: 0;
}

.navbar-suspend-white {
    background-color: white;
    border: 0.5px solid rgba(0,0,0,.125);
}

.carousel-slide-label {
    color: #263238;
}

.carousel-slide-des {
    color: #263238;
}

.non-border {
    border: none !important;
}

.demo-white {
    background-color: white !important;
}

.demo-blue {
    background-color: #b5d8de;
}

.demo-black {
    background-color: #212121;
}

.demo-text-white {
    color: #FFFFFF;
}

.demo-text-black {
    color: rgba(0,0,0,.5);
}

.demo-link {
    text-decoration: none;
}

.full-width{
    width: 100%;
}

.demo-grey {
    background-color: #f8fafb;
}
