
@media (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .navbar-expand-lg {
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.navbar-suspend {
    width: 100%;
    position: fixed !important;
    background-color: #f8fafb;
    z-index: 2147483647; 
    border: none;
    top: 0;
}

.navbar-suspend-white {
    background-color: white;
    border: 0.5px solid rgba(0,0,0,.125);
}

.carousel-slide-label {
    color: #263238;
}

.carousel-slide-des {
    color: #263238;
}

@media (max-width: 350px) {
    .h-50vh {
        height: 50vh;
    }
}

.non-border {
    border: none !important;
}

.demo-white {
    background-color: white !important;
}

.demo-blue {
    background-color: #b5d8de;
}

.demo-sky-blue {
    background-color: #dff2fa !important;
}

.demo-black {
    background-color: #212121;
}

.demo-black:hover {
    background-color: black;
}

.demo-black:active {
    background-color: black;
}

.demo-text-white {
    color: #FFFFFF;
}

.demo-text-black {
    color: rgba(0,0,0,.5) !important;
}

.demo-link {
    text-decoration: none;
}

.full-width{
    width: 100%;
}

.demo-grey {
    background-color: #f8fafb;
}

.cart-button {
    padding: 0px 3px 0px 3px !important;
    border-radius: 50% !important;
}

.padding-bottom-sm {
    padding-bottom: 1rem !important;
}

.width-100-block {
    display: block;
    width: 100%;
}

.min-height-30 {
    min-height: 30vh;
}

.min-height-60 {
    min-height: 60vh;
}
