{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "My Account" %}
{% endblock %}
{% block content %}
<div class="container-fluid px-3 mt-5 text-center">
    <div class="d-md-flex justify-content-center mt-4">
        <div class="card text-center">
            <div class="card-header">
                <h3>{% trans "My Account" %}</h3>
            </div>
            <div class="card-body px-5">
                {{ass.extra_data}}
                {% if backends.associated %}
                    {% for ass in backends.associated %}
                        <div class="text-center mb-3">
                            {% if ass.provider == 'facebook' %}
                            <img src="{{ ass.extra_data.picture.data.url }}" alt="" width="180" height="180" style="border-radius: 50%">
                            {% elif ass.provider == 'instagram' %}
                            <img src="{{ ass.extra_data.user.profile_picture }}" alt="" width="180" height="180" style="border-radius: 50%">
                            {% elif ass.provider == 'github' %}
                            <!-- TODO: git github image -->
                            <img src="{% static 'images/github.svg' %}" alt="" width="180" height="180" style="border-radius: 50%">
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <p>{% trans "Source" %}:</p>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <p>{{ ass.provider }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <p>{% trans "Name" %}:</p>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                            {% if ass.provider == 'facebook' %}
                                <p>{{ ass.extra_data.name }}</p>
                            {% elif ass.provider == 'instagram' %}
                                <p>{{ ass.extra_data.user.full_name }}</p>
                            {% elif ass.provider == 'github' %}
                                <p>{{ ass.extra_data.login }}</p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <p>{% trans "Url" %}:</p>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                            {% if ass.provider == 'facebook' %}
                                <a href="{{ass.extra_data.profile_url}}" class="demo-link demo-text-black">{% trans "link" %}</a>
                            {% elif ass.provider == 'instagram' %}
                                <a href="https://instagram.com/{{ ass.username }}" class="demo-link demo-text-black">{% trans "link" %}</a>
                            {% elif ass.provider == 'github' %}
                                <a href="https://github.com/{{ ass.extra_data.login }}" class="demo-link demo-text-black">{% trans "link" %}</a>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center mb-3">
                        <img src="{% static 'images/logo.png' %}" width="180" height="180">
                    </div>
                    <div class="text-center mb-3">
                        <h3>Admin</h3>
                    </div>

                {% endif %}

                <button class="btn btn-danger mt-3" onclick="window.location.href='{% url 'signout' %}'">{% trans "Sign Out" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
