{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    My Account
{% endblock %}
{% block content %}
<div class="container-fluid px-3 mt-5 text-center">
    <div class="d-md-flex justify-content-center mt-4">
        <div class="card text-center">
            <div class="card-header">
                <h3>My Account</h3>
            </div>
            <div class="card-body px-5">
                {% for ass in backends.associated %}
                    {% if ass.provider == 'facebook' %}
                    <div class="text-center mb-3">
                        <img src="{{ass.extra_data.picture.data.url}}" alt="" width="180" height="180" style="border-radius: 50%">
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <p>Source:</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <p>{{ ass.provider }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <p>Name:</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <p>{{ ass.extra_data.name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <p>Url:</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <a href="{{ass.extra_data.profile_url}}" class="demo-link demo-text-black">link</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                <button class="btn btn-danger mt-3" onclick="window.location.href='{% url 'signout' %}'">Sign Out</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
