{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid px-5 mt-5">
        <div class="row">
            <div class="col-4">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width:100%">
            </div>

            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        <h1>{{ product.name }}</h1>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                        </h5>
                        <p class="card-text">{{ product.description|linebreaks }}</p>
                        <p class="card-text">${{ product.price }}</p>
                        <form action="{% url 'cart:cart_add' product.id%}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Add to cart">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
