{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid px-5 mt-5">
        <div class="row">
            <div class="col-4">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" style="width:100%">
            </div>

            <div class="col-8">

                <h1>{{ product.name }}</h1>

                <h2>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h2>

                <p class="price">${{ product.price }}</p>

                {{ product.description|linebreaks }}

                <form action="{% url 'cart:cart_add' product.id%}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
