{% extends "shop/base.html" %}
{% load static %}

{% block extra_style_sheet %}
<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container-fluid px-5 mt-5">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="sidebar_nav px-3 py-2">
                    <h3>Categories</h3>
                    <ul>
                        <li {% if not category %} class="selected" {% endif %}>
                            <a href="{% url 'shop:product_list' %}">All</a>
                        </li>
                        {% for c in categories %}
                            <li {% if category.slug == c.slug %} class="selected" {% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-md-9 col-lg-9 col-xl-9">
                <div id="main" class="product-list">
                    <h1>
                        {% if category %}
                            {{ category.name }}
                        {% else %}
                            Products
                        {% endif %}
                    </h1>
                    <div class="row">
                    {% if not products %}
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static "images/no_image.png" %}"/>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Coming Soon
                                    </h5>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% for product in products %}
                        <div class="col-md-4 col-lg-4 col-xl-4 mb-2">
                            <div class="card">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}"/>
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="card-text">${{ product.price }}</p>
                                    <a href="#" class="btn btn-primary">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
