{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid px-5 mt-5">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="px-3 py-2">
                    <h1>{% trans "Categories" %}</h1>
                    <hr>
                    <div class="mt-3">
                        <div class="mb-3">
                            <button onclick="window.location.href='{% url 'shop:product_list' %}'" class="btn btn-outline-primary {% if category.slug == c.slug %}active{% endif %}">{% trans "All" %}</button>
                        </div>

                        {% for c in categories %}
                            <button onclick="window.location.href='{{ c.get_absolute_url }}'" class="btn btn-outline-info mb-2 {% if category.slug == c.slug %}active{% endif %}">{{ c.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-9 col-xl-9">
                <div id="main" class="product-list px-3 py-2">
                    <h1>
                        {% if category %}
                            {{ category.name }}
                        {% else %}
                            {% trans "Products" %}
                        {% endif %}
                    </h1>
                    <div class="row mt-4">
                    {% if not products %}
                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="card">
                                <img class="card-img-top" src="{% static "images/no_image.png" %}"/>
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        Coming Soon
                                    </h5>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% for product in products %}
                        <div class="col-md-4 col-lg-4 col-xl-4 mb-2">
                            <div class="card">
                                <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}"/>
                                </a>
                                <div class="card-body text-center">
                                    <a href="{{ product.get_absolute_url }}">
                                        <h5 class="card-title demo-text-black">
{{ product.name }}</h5>
                                    </a>
                                    <p class="card-text">${{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}
