<div class="sidebar col-xl-3 col-lg-4 pr-xl-5 order-lg-1">
    <div class="sidebar-block px-3 px-lg-0"><a data-toggle="collapse" href="#categoriesMenu" aria-expanded="false" aria-controls="categoriesMenu" class="d-lg-none block-toggler">Product Categories<span class="block-toggler-icon"></span></a>
        <div id="categoriesMenu" role="menu" class="expand-lg collapse">
            <h5 class="sidebar-heading d-none d-lg-block">Category  </h5>
            <div class="sidebar-icon-menu mt-4 mt-lg-0"> 
                <div data-toggle="collapse" data-target="#subcategories_0" aria-expanded="true" aria-controls="subcategories_0" role="menuitem" class="sidebar-icon-menu-item active"> 
                    <div class="d-flex align-items-center">
                        <svg class="svg-icon sidebar-icon">
                            <use xlink:href="#trousers-1"> </use>
                        </svg><a href="#" class="sidebar-icon-menu-link font-weight-bold mr-2">Trousers</a><span class="sidebar-icon-menu-count"> 120</span>
                    </div>
                    <div id="subcategories_0" class="collapse show">
                        <ul class="sidebar-icon-menu sidebar-icon-submenu">
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Lorem ipsum   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Dolor   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Sit amet   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Donec vitae   </a></li>
                        </ul>
                    </div>
                </div>
                <div data-toggle="collapse" data-target="#subcategories_1" aria-expanded="false" aria-controls="subcategories_1" role="menuitem" class="sidebar-icon-menu-item"> 
                    <div class="d-flex align-items-center">
                        <svg class="svg-icon sidebar-icon">
                            <use xlink:href="#suit-1"> </use>
                        </svg><a href="#" class="sidebar-icon-menu-link font-weight-bold mr-2">Jackets</a><span class="sidebar-icon-menu-count"> 55</span>
                    </div>
                    <div id="subcategories_1" class="collapse">
                        <ul class="sidebar-icon-menu sidebar-icon-submenu">
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Lorem ipsum   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Dolor   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Sit amet   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Donec vitae   </a></li>
                        </ul>
                    </div>
                </div>
                <div data-toggle="collapse" data-target="#subcategories_2" aria-expanded="false" aria-controls="subcategories_2" role="menuitem" class="sidebar-icon-menu-item"> 
                    <div class="d-flex align-items-center">
                        <svg class="svg-icon sidebar-icon">
                            <use xlink:href="#shirt5-1"> </use>
                        </svg><a href="#" class="sidebar-icon-menu-link font-weight-bold mr-2">T-Shirts</a><span class="sidebar-icon-menu-count"> 33</span>
                    </div>
                    <div id="subcategories_2" class="collapse">
                        <ul class="sidebar-icon-menu sidebar-icon-submenu">
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Sit amet   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Donec vitae   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Lorem ipsum   </a></li>
                            <li class="sidebar-icon-submenu-item"><a href="#" class="sidebar-icon-submenu-link link-animated link-animated-light">Dolor   </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-block px-3 px-lg-0"><a data-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu" class="d-lg-none block-toggler">Filter by price<span class="block-toggler-icon"></span></a>
        <div             <div id="slider-snap" class="mt-4 mt-lg-0 noUi-target noUi-ltr noUi-horizontal"> <div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(16%, 0px) scale(0.28, 1);"></div></div><div class="noUi-origin" style="transform: translate(-84%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="110.0" aria-valuenow="40.0" aria-valuet"" class="custom-control-input">
                            <label for="brand1" class="custom-control-label">Levi Strauss <small>(30) </div>
                        <div class="form-group mb-1">
                            <div class="custom-control custom-radio">
                                <input id="size1" type="radio" name="size" class="custo"input-invisible">
                                </li>
                                <li class="list-inline-item">
                                    <label for="col
